.nom{
    font-weight: bold;
}
#titreCv{
    text-align: center;
}

.date, .tec, .ci{
    font-weight: bold;
    text-align: center;
}

body{
    background-color: rgb(235, 235, 235);
}

table{
    background-color: white;
}

a:link{
    color: blue;
}

a:visited{
    color: purple;
}

a:hover{
    color: orange;
}

a:active {
    color: green;
}

strong{
    font-weight: bold;
    font-style: italic;
}

.img{
    float: right;
    padding-right: 20%;
}